body {
    background-color: #404040;
    color: #fff;
}

.nav_list {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer {
    background-color: #192F2D;
}

.main {
    display: flex;
    padding-top: 230px;
    text-align: center;
    justify-content: center;
    height: 500px;
    background-color: #192F2D;
    color: #fff;
    font-weight: 700;
}